@import url( 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    font-family: 'Poppins';
    line-height: 100%;
}
img {
    pointer-events: none!important;
}
.bigh {
    font-size: clamp(3vw, 27px, 23px);
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #0064C8;
    text-decoration: underline;
}
body, html {
    background-color: #0f0f0f;
    color: white;
    overflow: hidden;
}
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}.bodo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.bggrad {
    background-image: -webkit-gradient(linear, left top, right bottom, from(white), to(black));
    background-image: -o-linear-gradient(top left, white, black);
    background-image: linear-gradient(to bottom right, white, black);
    padding: 2px;
    border-radius: 17px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
section .flexcont,
section .flexcont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    border-radius: 15px;
    background-color: black;
    padding: 15px;
}
section.side1 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
section.side2 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}
.randoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 10px;
}
.video {
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: -350px;
    overflow: hidden;
    height: 197px;
    width: 350px;
}
.video .overlay {
    position: fixed;
    width: 350px;
    height: 197px;
    background-color: #000000A5;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 15px;
}
.video:hover img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.video:hover .overlay {
    opacity: 1;
}
.video img {
    border-radius: 10px;
    height: 197px;
    width: 350px;
}
#zplogo {
    width: 250px;
    height: auto;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}
section.side1,
section.side2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
section#main {
    width: 20%;
}
.nonboldh {
    font-weight: 400;
}
.oneside,
.rowy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.oneside p {
    text-align: end;
}
nav, footer {
    position: fixed;
    z-index: 999;
    padding: 15px;
    border-radius: 10px;
    background-color: #000;
    border: 2px solid #FFFFFF25;
    box-shadow: 0px 0px 15px 0px #000;
}
nav {
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav img {
    height: 40px;
    width: auto;
    object-fit: scale-down;
}
footer {
    bottom: 20px;
    left: 120px;
    right: 120px;
    text-align: center;
    font-size: small;
    color: #999;
    font-weight: 500;
    font-style: italic;
}
.reactbuttonashref {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.reactbuttonashref:hover {
    background-color: #FFFFFF25;
}
.boton {
    padding: 15px;
    background-color: #0064C8;
    border: 2px solid #FFFFFF25;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}
.boton:hover {
    background-color: #FFF;
    color: #0064C8;
}
hr {
    width: 100%;
    height: 2px;
    border-radius: 100px;
    background-color: #FFFFFF50;
}
.modal {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.modal-content {
    background-color: #0F0F0F;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    max-width: 75vw;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.boton.deshabi{
    background-color: #FFC832;
    color: black;
    border: 2px solid #FFFFFF90;
    cursor: not-allowed;
}
.flexcontmaxed {
    max-width: 40vw;
    max-height: 95vh;
    overflow-y: scroll;
}
.mobilehero {
    display: none;
    flex-direction: column;
    max-width: 70vw;
    gap: 10px;
}
@media only screen and (max-width: 1150px) {
    .hero .side1, .hero #main{
        display: none;
    }
    .hero .mobilehero {
        display: flex;
    }
    body,html {
        overflow-y: visible;
    }
    .bodo {
        flex-direction: column;
        overflow-y: scroll;
        height: 250vh;
    }
    nav, footer {
        left: 15px;
        right: 15px;
    }
    nav {
        top: 15px;
    }
    footer {
        bottom: 15px;
    }
    .flexcontmaxed {
        max-width: 80vw;
        max-height: fit-content;
    }
}