/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 3 version,not dead,not op_mini all
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap"); */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition-duration: 300ms;
    font-family: "Poppins";
    line-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
*::-webkit-scrollbar {
    display: none;
}
:root {
    --ng1: #f0f0f0;
    --ng2: #fefefe;
    --txt: #000000;
    --blk: #ffffff;
    --blkSha: #00000010;
    --grey: #999999;
    --fff25: #00000025;
    --modal-bg: #ffffff80;

    --alwaysWhite: #fff;
    --alwaysBlack: #000;
}
img {
    pointer-events: none !important;
}
.big-header {
    font-size: 35px;
}
a {
    color: var(--txt);
    text-decoration: none;
}
a:hover {
    color: #0099ff;
    text-decoration: underline;
}
body,
html {
    background-color: var(--ng1);
    color: var(--txt);
    overflow-x: hidden;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    padding-top: 25vh;
    padding-bottom: 25vh;
}
.bg-grad {
    background-image: linear-gradient(to bottom right, var(--txt), var(--ng2));
    padding: 2px;
    border-radius: 17px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
section .flex-container,
section .flex-container-two {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    border-radius: 15px;
    background-color: var(--blk);
    padding: 15px;
}
section.side1 {
    justify-content: start;
}
section.side2 {
    justify-content: end;
}
.randoms {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}
.video {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: -350px;
    overflow: hidden;
    width: 350px;
    aspect-ratio: 16/9;
}
.video .overlay {
    position: fixed;
    width: 350px;
    aspect-ratio: 16/9;
    background-color: var(--overlay);
    opacity: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}
.video .overlay p {
    color: #fff;
}
.video:hover .overlay {
    opacity: 1;
}
.video img {
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 100%;
}
#zp-logo {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
section.side1,
section.side2,
section.side2-m {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
section.side2-m,
section.side2-m .bg-grad {
    width: 100%;
}
section#main {
    width: 10%;
    display: grid;
    place-items: center;
}
.non-bold-header {
    font-weight: 400;
}
.one-side,
.row-ish {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.one-side p {
    text-align: end;
}
nav,
footer {
    position: fixed;
    z-index: 999;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--blk);
    border: 2px solid var(--fff25);
    box-shadow: 0px 0px 15px 0px var(--blkSha);
    max-height: 100px;
}
nav {
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav img {
    height: 35px;
    width: auto;
    object-fit: scale-down;
}
footer {
    bottom: 20px;
    left: 120px;
    right: 120px;
    text-align: center;
    font-size: small;
    color: var(--grey);
    font-weight: 500;
    font-style: italic;
}
.react-button-as-href {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--txt);
}
.react-button-as-href:hover {
    background-color: var(--fff25);
}
.btn {
    padding: 15px;
    background-color: #0099ff;
    border: 2px solid var(--fff25);
    cursor: pointer;
    color: var(--alwaysWhite);
    border-radius: 10px;
}
.btn:hover {
    background-color: var(--alwaysWhite);
    border: 2px solid #0099ff;
    color: #0099ff;
}
hr {
    width: 100%;
    height: 2px;
    border-bottom: 1px solid var(--grey);
}
.modal {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-bg);
    display: flex;
    gap: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: var(--ng1);
    border-radius: 15px;
    padding: 20px;
    border: 2px solid var(--txt);
    border-radius: 15px;
    max-width: 75vw;
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.modal-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--ng2);
    gap: 15px;
}
.item .item-flex {
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.btn.btn-disabled {
    background-color: #ffc832;
    color: var(--alwaysBlack);
    border: 2px solid var(--fff25);
    cursor: not-allowed;
}
.flex-container-maxed {
    max-width: 40vw;
    max-height: 95vh;
    overflow-y: scroll;
}
.mobile-hero {
    display: none;
    flex-direction: column;
    max-width: 70vw;
    gap: 10px;
}
@media only screen and (max-width: 1250px) {
    .hero #main {
        display: none;
    }
    .hero .mobile-hero {
        display: flex;
    }
    .hero {
        flex-direction: column;
        height: auto;
        max-height: auto;
        justify-content: start;
        gap: 40px;
        padding: 100px 20px;
        align-items: start;
        overflow: visible;
    }
    .hero .side1,
    .hero .side2,
    .hero .side1 .bg-grad,
    .hero .side2 .bg-grad,
    .video,
    .randoms,
    .randoms a,
    .video .overlay {
        width: 100%;
    }
    .flex-container-two {
        max-width: 100%;
    }
    body,
    html {
        overflow-y: visible;
    }
    .main-body {
        flex-direction: column;
        overflow-y: scroll;
        min-height: 100vh;
        justify-content: center;
        gap: 40px;
    }
    nav,
    footer {
        left: 0;
        right: 0;
        border-radius: 0;
    }
    nav {
        align-items: center;
        justify-content: center;
        top: 0;
    }
    footer {
        bottom: 0;
    }
    .flex-container-maxed {
        max-width: 80vw;
        max-height: -webkit-fit-content;
        max-height: -moz-fit-content;
        max-height: fit-content;
    }
    #zp-logo-nav {
        display: none;
    }
    .big-header {
        font-size: 24px;
    }
    .modal-content {
        max-width: 90vw;
        max-height: 80vh;
    }
    .item .item-flex {
        flex-direction: column;
    }
    .item .item-flex .item-flex-dot {
        display: none;
    }
    a[href] {
        text-decoration: underline !important;
    }
    .item {
        padding: 15px;
        gap: 10px;
    }
}
.bola {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    aspect-ratio: 1/1;
}
.bola.disponible {
    background-color: #0099ff;
}
.bola.mas-o-menos {
    background-color: #ff8032;
}
.bola.ocupado {
    background-color: #ff3232;
}
h2.disponible {
    color: #0099ff;
}
h2.mas-o-menos {
    color: #ff8032;
}
h2.ocupado {
    color: #ff3232;
}
