@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import "tailwindcss";

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition-duration: 0.2s;
    line-height: 110%;
    font-family: Poppins;
}

:root {
    --ng1: #0f0f0f;
    --txt: #ffffff;
    --blk: #1f1f1f;
    --blk-hov: #2f2f2f;
    --blkSha: #000000;
    --grey: #aaa;
    --fff25: #ffffff25;
    --overlay: #00000099;
    --ZakaProfe: #0099ff;
    --ZakaTeka: #ff9900;
}

h1 {
    font-size: 2em;
}

body,
html {
    background-color: var(--ng1);
    color: var(--txt);
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex: 1;
    padding: 40px;
}

.video img {
    aspect-ratio: 16/9;
    width: 100%;
}

#zp-logo {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

section#main {
    width: 10%;
    display: grid;
    place-items: center;
}

.non-bold-header {
    font-weight: 400;
}

.row-ish {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

nav,
footer {
    padding: 15px;
    background-color: var(--blk);
    box-shadow: 0 0 15px 0 var(--blkSha);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;
    justify-content: space-between;
}
footer {
    font-size: small;
    color: var(--grey);
    font-weight: 500;
}

footer p {
    flex: 3;
}

footer p.text-end {
    flex: 2;
}

footer p b {
    font-weight: 600;
}

nav .urls {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

nav .urls button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

nav .urls button svg {
    width: 25px;
    height: 25px;
    object-fit: scale-down;
}

.react-button-as-href {
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    color: var(--txt);
}

.react-button-as-href:hover {
    background-color: var(--fff25);
}

hr {
    width: 100%;
    height: 2px;
    background-color: transparent;
    border-bottom: 1px solid var(--fff25);
    border-top: 1px solid var(--fff25);
    margin: 20px 0px;
}

@media only screen and (max-width: 900px) {
    nav .urls button p {
        display: none;
    }

    nav {
        flex-direction: column;
        height: 140px;
        gap: 10px;
        max-height: 140px !important;
        align-items: center;
        justify-content: center;
    }

    nav .urls {
        justify-content: center;
    }

    body,
    html {
        overflow-y: visible;
    }

    a[href] {
        text-decoration: underline;
    }
}

@keyframes bola-anim {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(0.5);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.bola-wrap {
    height: 24px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.bola {
    height: 100%;
    aspect-ratio: 1/1;
    animation: bola-anim 2s infinite linear;
    rotate: 45deg;
}

.bola.disponible {
    background-color: var(--ZakaProfe);
}

.bola.mas-o-menos {
    background-color: #ff8032;
}

.bola.ocupado {
    background-color: #ff3232;
}

h2.disponible {
    color: var(--ZakaProfe);
}

h2.mas-o-menos {
    color: #ff8032;
}

h2.ocupado {
    color: #ff3232;
}

*:focus-visible {
    outline: 2px solid;
    outline-offset: 2px;
}
