@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
  font-family: 'Roboto Flex';
}

img { pointer-events: none!important }
a { color: white; text-decoration: none; }
a:hover { color: #0064C8; text-decoration: underline; }

body { background-color: black; }
body, main {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bggrad {
  background-image: linear-gradient(to bottom right, white, black);
  padding: 2px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
}
section .flexcont, section .flexcont2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  border-radius: 10px;
  background-color: black;
  padding: 10px;
}

section.side1 {
  justify-content: start;
}

section.side2 {
  justify-content: end;
}
.randoms {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.video {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: -350px;
  overflow: hidden;
  /*aspect-ration: 16/9;*/
  height: 197px;
  width: 350px;
}

.video .overlay {
  position: fixed;
  /*aspect-ration: 16/9;*/
  width: 350px;
  height: 197px;
  background-color: #00000025;
  backdrop-filter: blur(20px);
  opacity: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.video:hover img {
  filter: blur(25px);
}

.video:hover .overlay {
  opacity: 1;
}

.video img {
  border-radius: 10px;
  height: 197px;
  /*aspect-ration: 16/9;*/
  width: 350px;
}

#bgcolors {
  position: fixed;
  z-index: -1;
}
#zplogo {
  width: 250px;
  height: auto;
  object-fit: scale-down;
}
section.side1, section.side2 {
  width: 30%;
}
section#main {
  width: 20%;
}
