.seviene-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0F0F0F;
  color: white;
}

.seviene-label {
  font-size: clamp(1em,5vw, 3.5rem);
  margin-left: 40px;
}

.seviene-img {
  max-width: 200px;
  margin-right: 40px;
}
